<!--For some reason this z-index does the trick of keeping the drop down on top. not sure why ... :) -->>
<div class="dropdown" style='position: absolute; z-index: 31415900; top: 10px; right: 10px; background-color: #0000ff '>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>