<!--For some reason this z-index does the trick of keeping the drop down on top. not sure why ... :) -->>
<div class="dropdown" style='position: absolute; z-index: 31415900; top: 10px; right: 10px;'>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Maps
  </button>
  <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton" style= 'background-color:transparent;' >
    <a class="dropdown-item" style= 'float: left; clear: left; display:inline;' href="#">Map 1 </a>
    <a class="dropdown-item" style= 'float: left; clear: left; display:inline'  href="#">Map 2</a>
    <a class="dropdown-item" style= 'float: left; clear: left; display:inline' href="#">Map 3</a>
  </div>
</div>