<!DOCTYPE html>
<html>
<!-- This forces the page to reload every 30 seconds-->
<META HTTP-EQUIV="refresh" CONTENT="1800"/>
<head>
</head>
<body>
	{% include baseMap %}
	
	{% if maps|length > 1 %}
	<!--For some reason this z-index does the trick of keeping the drop down on top. not sure why ... :) -->
	<div class="dropdown" style='position: absolute; z-index: 31415900; top: 20px; right: 40px;'>
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Maps
		</button>

		<div class="dropdown-menu"  aria-labelledby="dropdownMenuButton" style= 'background-color:transparent;'>
			{%for map in maps %}
				<a class="dropdown-item" style= 'float: left; clear: left; display:inline;' 
				href={{map.href}}> {{map.caption}} </a>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</body>
</html>